header {
  font-family: 'Bangers', cursive;
}

body .container-fluid {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

li:focus {
  background-color: black;
  background-radius: 100px;
}

header div .header {
  background-image: url("../img/pz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 0;
}

header div .header h1 {
  padding: 40px 0;
  font-size: 20rem;
  text-shadow: .15px .15px #000;
  color: white;
  background-color: transparent;
}

.navig {
  display: flex;
  justify-content: space-around;
}
.navig li {
  display: inline;
  text-decoration: none;
  list-style: none;
  font-size: 3rem;
  padding-top: 20px;
}

.navig li a {
  font-family: 'VT323', monospace;
}

#landing-div {
  margin-top: 25px;
}

#order-div {
  background-color: tomato;
  height: 500px;
  display: none;
}

#order-row {
  display: none;
}



.add2order {
  margin-top: 50px;
  font-family: 'VT323', monospace;
  list-style: none;
  padding-left: 0;
}

.add2order li {
  padding: 25px 0 25px 0;
}

.add2order li a {
  font-size: 3rem;
  font-family: 'VT323', monospace;
}

.addtoppings {
  display: none;
  font-family: 'VT323', monospace;
}

select {
  width: 200px;
}

#order-details {
  font-family: 'VT323', monospace;
  display: none;
}

.order-total {
  font-family: 'VT323', monospace;
}

#address-div {
  display: none;
  font-family: 'VT323', monospace;

}

#address-div input {
  margin: 20px 0 10px;
}

#address-div button {
  margin: 20px 0;
}
